# Build artifacts
/build/
/CMakeFiles/
/Makefile
/CMakeCache.txt
/cmake_install.cmake
/*.cmake

# IDE files
*.suo
*.user
*.userosscache
*.sln
*.vcxproj*
*.ncb
*.opensdf
*.sdf
*.psess
*.vsp
*.vsscc
*.code-workspace

# macOS
.DS_Store

# Linux
*.swp
*~

# Logs
*.log

# Binaries
*.out
*.o
*.obj
*.exe
*.a
*.so
*.dll

# Tests
/test-results/
/*.gcno
/*.gcda

# C++ metadata
*.dSYM/
*.ipch/
*.pch
*.mod
*.tlog

# Compiled static and dynamic libraries
*.lib
*.dll
*.dylib

# Generated docs
/docs/html/
/docs/latex/

# VSCode & CLion
.vscode/
.idea/

# Custom folders
/public/
.env